@model List<AntColonyWeb.Models.City>

@{
    ViewBag.Title = "GetAllCities";
}

<h2>GetAllCities</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Cost
        </th>
        <th>
            Time
        </th>
        <th>
            Value
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            <span>Days: </span>@Html.DisplayFor(modelItem => item.Days, new { @style = "margin-bottom: 15px;" })<br>
            <span>Hours: </span>@Html.DisplayFor(modelItem => item.Hours, new { @style = "margin-bottom: 15px;" })<br>
            <span>Minutes: </span>@Html.DisplayFor(modelItem => item.Minutes, new { @style = "margin-bottom: 15px;" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
    </tr>
}

</table>
