@model IEnumerable<AntColonyWeb.Models.City>

@{
    ViewBag.Title = "GetCities";
}

<h2>GetCities</h2>

<table class="table">
    <tr>
        <th>City name</th>
        <th>Average cost (per day)</th>
        <th>Time to visit</th>
        <th>Value</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cost)
    </td>
    <td>
        <span>Days: </span>@Html.DisplayFor(modelItem => item.Days, new { @style = "margin-bottom: 15px;" })<br>
        <span>Hours: </span>@Html.DisplayFor(modelItem => item.Hours, new { @style = "margin-bottom: 15px;" })<br>
        <span>Minutes: </span>@Html.DisplayFor(modelItem => item.Minutes, new { @style = "margin-bottom: 15px;" })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Value)
    </td>
</tr>
}

</table>
