@using AntColonyWeb.AntColony
@{
    ViewBag.Title = "GetCities";
    AntColonyResult result = ViewBag.AntColonyResult;
}

<h2 style="text-align: center">Результуючий маршрут:</h2>
<div class="row" style="padding:20px;">
    @for (int i = 0; i < result.Path_Cities.Count; i++)
    {
        <div class="col-sm-6 col-6" style="margin-bottom: 20px;">
            @if (i < result.Path_Cities.Count - 1)
            {
                    <div style="padding: 15px; border: 2px #53afed solid; border-radius: 20px; width: 95%; text-align: center;">
                        <div style="margin-bottom: 10px;">
                        <img src="@result.Path_Cities[i].ImageLink" style="width: auto; height: 250px; object-fit: contain; border-radius: 20px;" />
                            </div>
                            <h3>@result.Path_Cities[i].Name</h3>
                            <p>Приблизна вартість перебування: @result.Path_Cities[i].Cost грн.</p>
                            <p>Приблизна к-сть витраченого часу у місті: @result.Path_Cities[i].Days днів, @result.Path_Cities[i].Hours годин.</p>
                            <h3>Переїзд до міста @result.Path_Cities[i + 1].Name</h3>
                            <p>Приблизна вартість: @result.distances_cost[i] грн.</p>
                            <p>Приблизна к-сть витраченого часу: @result.distances_time[i]</p>
                    </div>
            }
            else
            {
                    <div style="padding: 15px; border: 2px #53afed solid; border-radius: 20px; width: 95%; text-align: center;">
                        <div style="margin-bottom: 10px;">
                            <img src="@result.Path_Cities[i].ImageLink" style="width: auto; height: 250px; object-fit: contain; border-radius: 20px;" />
                            </div>
                                <h3>@result.Path_Cities[i].Name</h3>
                                <h3>Кінець маршруту</h3>
                        </div>
            }
        </div>
    }
</div>

<div style="text-align:center;">
    <h2>Кількість витрачених грошей: @result.Money грн.</h2>
    <h2>Кількість витраченого часу: @result.Time_Non_Convert</h2>
</div>




